# save file as .env

ALPHA_TOKEN='token-to-allow-logins'
SMTP_SERVER='mail.zillyhuhn.com'
EMAIL_PASSWORD='your-mail-pass'
EMAIL_USER='chillerdragon'
EMAIL_FROM_HEADER='"Chiller Dragon" <chillerdragon@zillyhuhn.com>'
SESSION_SECRET='random-session-secret'
CAPTCHA_BACKEND='https://captcha.zillyhuhn.com/'
CAPTCHA_BACKEND_IP='149.202.127.134'
AUTOEXEC_PATH='/path/to/your/servers/autoexec_server.cfg'

# HOSTNAME HAS TO END WITH /
HOSTNAME='https://staff-panel.zillyhuhn.com/'
IP_ADDR=127.0.0.1

# requires this plugin
# https://github.com/DDNetPP/server-plugin-web
API_HOST='http://localhost:9303'
API_TOKEN='api-token'
