<div class="navbar">
    <a class="nav-item" href="/">
        placeholder
    </a>
    <% if (data) { %>
        <a class="nav-item" href="/panel">
            panel
        </a>
    <% } else { %>
        <a class="nav-item" href="/login">
            login
        </a>
    <% } %>
</div>
